$icons: (
    about: url("/images/about.png"),
    interests: url("/images/interests.png"),
    technology: url("/images/technology.jpg"),
    myWork: url("/images/mywork.png"),
    contact: url("/images/contact.png"),
    trash: url("/images/trash.png"),
);

$start: (
    start: url("/images/manu.png")
);

$desktop: (
    deskBackground: url("/images/lezak.jpg"),
    lapa: url("/images/lapa.jpg") 
) 