$icons: (
    about: url("/images/about.png"),
    interests: url("/images/interests.png"),
    technology: url("/images/technology.jpg"),
    myWork: url("/images/mywork.png"),
    contact: url("/images/contact.png"),
    trash: url("/images/trash.png"),
);

$start: (
    start: url("/images/manu.png")
);

$desktop: (
    deskBackground: url("/images/lezak.jpg"),
    download: url("/images/download.png")
);

$lmenu: (
    about: url('/images/aboutjsx.png'),
    hobby: url('/images/hobbyjsx.png'),
    technology: url('/images/technologyjsx.png'),
    work: url('/images/workjsx.png'),
    contact: url('/images/contactjsx.png'),
    trash: url('/images/trashjsx.png')
);

$folders: (
    folder: url('/images/folder.png')
);

$photos: (
    downhill: url('/images/downhill_manu.jpg')
);

$technology: (
    html: url('/images/HTML5.png'),
    css: url('/images/css3.png'),
    js: url('/images/javascript.png'),
    jquery: url('/images/jquery.png'),
    es6: url('/images/js6.png'),
    sass: url('/images/sass.png'),
    rwd: url('/images/rwd.png'),
    react: url('/images/react.png'),
    git: url('/images/git.png')
);