@import 'all'
*
    box-sizing: border-box
    
.desktop
    background-image: map-get($desktop, deskBackground)
    height: 100vh
    width: 100vw
    @include backgroundStyle
 
    //CONTAINERS
    
    .yourTime
        display: flex
        justify-content: flex-end
        align-items: center
        div
            margin-right: 20vw
            color: map-get($colors, blue)
        color: white
        height: 5%
        width: 100% 
    .containerIcon
        height: 90%
        width: 10%
    .footer
        height: 5%
        width: 100%
        background-color: map-get($colors, gray)
        display: flex
        justify-content: space-between
        align-items: center
        .flag
            margin-left: 2vw
            height: 35px
            width: 35px
            border: 3px solid black
            border-radius: 25px
            background-image: map-get($start, start)
            @include backgroundStyle
        .myCv
            @include flexCenter
            flex-direction: column
            background-color: map-get($colors, blue)
            position: absolute
            height: 500px
            width: 400px
            margin: -28.5vh 0 0 0
            p
                a
                    text-decoration: none
                    color: white
            #download
                background-image: map-get($desktop, download)
                height: 250px
                width: 250px
                margin-bottom: 3vh
                @include backgroundStyle                         
        .clock
            @include flexCenter
            height: 100%
            width: 15%
            border-radius: 25px 0 0 25px
            background-color: (map-get($colors, blue))
            color: white

    //REST

.rim
    @include flexCenter
    flex-direction: column
    color: white
    .aboutMeIcon
        background-image: map-get($icons, about)
        @include backgroundStyle
        margin: 5vh 0 0 0
        height: 50px
        width: 50px
        &:hover 
            border-radius: 25px
            background-color: transparent
            opacity: 0.5
    p
        margin-top: 1vh
        &:hover

    .myHobbyIcon
        @extend .aboutMeIcon
        background-image: map-get($icons, interests)
    .technologyIcon
        @extend .aboutMeIcon
        background-image: map-get($icons, technology)
    .myWorkIcon
        @extend .aboutMeIcon
        background-image: map-get($icons, myWork)
    .contactIcon
        @extend .aboutMeIcon
        background-image: map-get($icons, contact)
    .trashIcon
        @extend .aboutMeIcon
        background-image: map-get($icons, trash)
        
.windowSize
    display: flex
    flex-wrap: wrap
    position: absolute
    margin: -5vh 0 0 12vw
    color: white
    height: 80vh
    width: 70vw
    border: 1px solid rgb(9, 71, 113)
    
    #aboutMenu
        height: 95%
        width: 25%
        background-image: map-get($lmenu, about) 
        @include backgroundStyle
        border-right: 1px solid map-get($colors, blue)
    #hobbyMenu
        @extend #aboutMenu
        background-image: map-get($lmenu, hobby)
    #technologyMenu
        @extend #aboutMenu
        background-image: map-get($lmenu, technology)
    #workMenu
        @extend #aboutMenu
        background-image: map-get($lmenu, work)
    #contactMenu
        @extend #aboutMenu
        background-image: map-get($lmenu, contact)
    #trashMenu
        @extend #aboutMenu
        background-image: map-get($lmenu, trash)
    .topLabel
        display: flex
        justify-content: flex-end
        align-items: center
        height: 5%
        width: 100%
        background-color: map-get($colors, blue)
    .aboutItem
        height: 95%
        width: 75%
        background-color: map-get($colors, gray)
        h1
            color: white
        #aboutPhoto
            height: 50%
            width: 80%
            background-image: map-get($photos, downhill)
            @include backgroundStyle
    .hobbyItem
        @extend .aboutItem
    .technologyItem
        @extend .aboutItem
    .myWorkItem
        @extend .aboutItem
    .contactItem
        @extend .aboutItem
    .trashItem
        @extend .aboutItem
.aboutSize
    @extend .windowSize
.hobbySize
    @extend .windowSize
    margin: -20vh 0 0 15vw
.technologySize
    @extend .windowSize
    margin: -25vh 0 0 14vw
.workSize
    @extend .windowSize
    margin: -38vh 0 0 19vw
.contactSize
    @extend .windowSize
    margin: -52vh 0 0 13vw
.trashSize
    @extend .windowSize
    margin: -70vh 0 0 18vw