@import 'all'
*
    box-sizing: border-box
    
.desktop
    background-image: map-get($desktop, deskBackground)
    height: 100vh
    width: 100vw
    @include backgroundStyle
 
    //CONTAINERS
    
    .yourTime
        display: flex
        justify-content: flex-end
        align-items: center
        color: white
        height: 5%
        width: 100%
        div
            margin-right: 20vw
            color: white
         
    .containerIcon
        height: 90%
        width: 10%
    .footer
        height: 5%
        width: 100%
        background-color: map-get($colors, gray)
        display: flex
        justify-content: space-between
        align-items: center
        .flag  
            margin-left: 2vw
            height: 30px
            width: 30px
            border: 2px solid white
            border-radius: 25px
            background-image: map-get($start, start)
            @include backgroundStyle
            background-size: contain
            cursor: pointer
        .myCv
            @include flexCenter
            flex-direction: column
            background-color: map-get($colors, blue)
            position: absolute
            height: 500px
            width: 350px
            margin: -50vh 0 0 40vw
            p
                width: 80%
                text-align: center
                a
                    text-decoration: none
                    color: white
            #download
                background-image: map-get($desktop, download)
                height: 250px
                width: 250px
                margin-bottom: 3vh
                @include backgroundStyle                         
        .clock
            @include flexCenter
            height: 100%
            width: 15%
            border-radius: 25px 0 0 25px
            background-color: (map-get($colors, blue))
            color: white

    //REST

.rim
    @include flexCenter
    flex-direction: column
    color: white
    .aboutMeIcon
        background-image: map-get($icons, about)
        @include backgroundStyle
        margin: 5vh 0 0 0
        height: 50px
        width: 50px
        &:hover 
            border-radius: 25px
            background-color: transparent
            opacity: 0.5
    p
        margin-top: 1vh
        &:hover

    .myHobbyIcon
        @extend .aboutMeIcon
        background-image: map-get($icons, interests)
    .technologyIcon
        @extend .aboutMeIcon
        background-image: map-get($icons, technology)
    .myWorkIcon
        @extend .aboutMeIcon
        background-image: map-get($icons, myWork)
    .contactIcon
        @extend .aboutMeIcon
        background-image: map-get($icons, contact)
    .trashIcon
        @extend .aboutMeIcon
        background-image: map-get($icons, trash)
        
.windowSize
    display: flex
    flex-wrap: wrap
    position: absolute
    margin: -5vh 0 0 12vw
    color: white
    height: 80vh
    width: 75vw
    border: 1px solid rgb(9, 71, 113)
    border-radius: 10px
    #aboutMenu
        height: 95%
        width: 25%
        background-image: map-get($lmenu, about) 
        @include backgroundStyle
        border-right: 1px solid map-get($colors, blue)
        border-bottom-left-radius: 8px
        
    #hobbyMenu
        @extend #aboutMenu
        background-image: map-get($lmenu, hobby)
    #technologyMenu
        @extend #aboutMenu
        background-image: map-get($lmenu, technology)
    #workMenu
        @extend #aboutMenu
        background-image: map-get($lmenu, work)
    #contactMenu
        @extend #aboutMenu
        background-image: map-get($lmenu, contact)
    #trashMenu
        @extend #aboutMenu
        background-image: map-get($lmenu, trash)
    .topLabel
        display: flex
        justify-content: flex-end
        align-items: center
        height: 5%
        width: 100%
        background-color: map-get($colors, blue)
        border-top-left-radius: 8px
        border-top-right-radius: 8px
        .buttonOff
            display: flex
            justify-content: center
            align-items: center
            margin-right: 1vw
            height: 25px
            width: 25px
            border-radius: 25px
            &:hover
                color: red
                cursor: pointer
    .aboutItem
        height: 95%
        width: 75%
        background-color: map-get($colors, gray)
        border-bottom-right-radius: 8px
        @include flexCenter
        flex-direction: column
        h1
            color: map-get($colors, blue)
            color: white
        div
            text-align: center
            line-height: 2.5vh
            width: 80%
            margin-bottom: 3vh
        #aboutPhoto
            height: 50%
            width: 80%
            background-image: map-get($photos, downhill)
            @include backgroundStyle
    .hobbyItem 
        @extend .aboutItem
        #hobbyPhoto
            background-image: map-get($photos, stund)
            height: 50%
            width: 80%
            @include backgroundStyle
    .technologyItem
        @extend .aboutItem
        .techItems
            width: 95%
            height: 80%
            display: flex
            flex-wrap: wrap
            align-content: flex-start
            #tech1
                height: 100px
                width: 100px
                margin-right: 2vw
                @include backgroundStyle
                background-size: contain
                background-image: map-get($technology, html)
            #tech2
                @extend #tech1
                background-image: map-get($technology, css)
            #tech3
                @extend #tech1
                background-image: map-get($technology, js)
            #tech4
                @extend #tech1
                background-image: map-get($technology, jquery)
            #tech5
                @extend #tech1
                background-image: map-get($technology, es6)
            #tech6
                @extend #tech1
                background-image: map-get($technology, react)
            #tech7
                @extend #tech1
                background-image: map-get($technology, rwd)
            #tech8
                @extend #tech1
                background-image: map-get($technology, sass)
            #tech9
                @extend #tech1
                background-image: map-get($technology, git)
    .myWorkItem
        @extend .aboutItem
        div
            height: 90%
            width: 95%
            display: flex
            flex-wrap: wrap
            align-content: flex-start
            a
                height: 10%            
                display: block
                margin: 0 3vw 0 0
                text-decoration: none
                color: white
                .fa-cog
                    height: 100px
                    width: 100px
                &:hover
                    opacity: 0.7
                #work1
                    margin: 0 auto
                    height: 100px
                    width: 100px
                    @include backgroundStyle
                    background-size: contain
                    background-image: map-get($folders, folder)

    .contactItem
        @extend .aboutItem
        div
            height: 90%
            width: 95%
            display: flex
            flex-direction: row
            flex-wrap: wrap
            align-content: flex-start
            a
                text-decoration: none
                color: white
                margin: 0 2.5vw 0 0
                height: 150px
                width: 150px
                &:hover
                    opacity: 0.5
    .trashItem
        @extend .aboutItem
        div
            height: 90%
            width: 95%
            display: flex
            flex-wrap: wrap
            align-content: flex-start
            a 
                height: 10%            
                display: block
                margin: 0 3vw 0 0
                text-decoration: none
                color: white
                &:hover
                    opacity: 0.7
                #crap
                    margin: 0 auto
                    height: 100px
                    width: 100px
                    @include backgroundStyle
                    background-size: contain
                    background-image: map-get($folders, folder)
.aboutSize
    @extend .windowSize 
.hobbySize
    @extend .windowSize
    margin: -20vh 0 0 15vw
.technologySize
    @extend .windowSize
    margin: -30vh 0 0 16vw
.workSize
    @extend .windowSize
    margin: -50vh 0 0 17vw
.contactSize
    @extend .windowSize
    margin: -60vh 0 0 13vw
.trashSize 
    @extend .windowSize
    margin: -70vh 0 0 18vw

@media (max-width: 768px)
    .desktop
        .containerIcon
            display: flex
            flex-wrap: wrap
            align-content: flex-start
            justify-content: center
            width: 100%
            p
                margin: 0 4vw
    .windowSize
        margin: -10vh 20vw 0 0
        margin: none
        height: 80%
        width: 95%
        #aboutMenu
            display: none
        .aboutItem
            width: 100%
    .hobbySize 
        @extend .aboutSize
        margin: -10vh 0 0 -25vw
    .technologySize
        @extend .aboutSize
        margin: -10vh 0 0 -47vw
    .workSize
        @extend .aboutSize
        margin: -10vh 0 0 -73vw
    .contactSize
        @extend .aboutSize
        margin: -20vh 0 0 -29vw
    .trashSize
        @extend .aboutSize
        margin: -20vh 0 0 -50vw
    .desktop
        .footer
            .clock
                width: 30vw
            .myCv
                margin: -50vh 0 0 9vw

@media (max-width: 1024px)
    .windowSize
        #aboutMenu
            display: none
        .aboutItem
            width: 100%
